[submodule "DataScienceImmersive/Data_Science_Immersive_Project-1"]
	path = DataScienceImmersive/Data_Science_Immersive_Project-1
	url = git@github.com:kingkonggrunt/Data_Science_Immersive_Project-1.git
[submodule "DataScienceImmersive/Data_Science_Immersive_Project-2"]
	path = DataScienceImmersive/Data_Science_Immersive_Project-2
	url = git@github.com:kingkonggrunt/Data_Science_Immersive_Project-2.git
